*,
::before,
::after{
    width: 400px;
    margin: 10px auto;
    box-sizing: border-box;
}

ul{

    font-size: 20px;
}

ol{
    font-size: 20px;
}

p{
    font-size: 15px;
}
li{
    margin-bottom: 10px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}
